/* CSS Document */

body, p, form, HTML{font-family:Verdana, Arial, Helvetica, sans-serif; margin:0px; padding:0px; height:74%;}


.login-fo{font-size:12px; color:#000000; margin-left:40px;}
.login-fo td{font-size:12px; color:#000000; padding:5px 0px 10px 3px;}
.login-fo td font{font-size:10px; color:#ff0000;}
.login-fo td .sh{text-transform:uppercase; color:#a50e0e; border-bottom:1px #a50e0e solid; font-weight:bold; font-size:14px; margin:0px 0px 10px 0px; }


.submit{border:1px #750000 solid; background:url(submit.gif) no-repeat; width:73px; height:30px;}

.time{background:#DBDBDB; font-size:12px; color:#000000; padding:5px 15px 8px 5px; text-align:right;}
.time a{color:#000000; text-decoration:none;}
.time a:hover{color:#000000; text-decoration:underline;}

.tab{background:#FFF0F0; border:1px #F1C6C6 solid; border-collapse:collapse;} 
.tab td{border:1px #F1C6C6 solid; border-collapse:collapse; padding:5px 2px 5px 8px; font-size:12px; color:#000000; text-align:left;}
.tab td a{font-size:12px; text-decoration:none; color:#0000ff;}
.tab td a:hover{font-size:12px; text-decoration: underline;}
.tab td.hd{color:#ba0000;}

.submit1{border:1px #570101 solid; background:#820102;font-size:12; text-transform:uppercase; color:#ffffff; font-weight:bold; padding:2px 0px 0px 0px;}



.fotter{text-align:center; color:#ffffff; background:url(fotter-bg.gif) repeat-x; padding:7px; font-size:12px; }


.heading{font-size:14px; color:#970000;  margin:10px 0px 10px 20px; font-weight:bold}




